[submodule "packages/WasmEdge"]
	path = packages/WasmEdge
	url = https://github.com/WasmEdge/WasmEdge.git
[submodule "packages/wasi-sdk"]
	path = packages/wasi-sdk
	url = https://github.com/WebAssembly/wasi-sdk.git
